<div
	href="#"
	class="w-[22rem] p-6 bg-gray-200 border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col"
>
	<p class="font-normal text-gray-700 dark:text-gray-400 pt-2">
		<span class="font-semibold">Para: </span>
		{{ anotacao.para }}
	</p>

	<p class="font-normal text-gray-700 dark:text-gray-400 pt-2">
		<span class="font-semibold">Em Cópia: </span>
		{{ anotacao.emCopia }}
	</p>

	<p class="font-normal text-gray-700 dark:text-gray-400 pt-2">
		<span class="font-semibold">Assunto: </span>
		{{ anotacao.titulo }}
	</p>

	<p class="font-normal text-gray-700 dark:text-gray-400 pt-2">
		<span class="font-semibold">Conteúdo:</span>
		{{ anotacao.conteudo }}
	</p>
</div>