<div class="flex w-screen h-max flex-col  items-center gap-2 pb-8">

	<h2 class="text-4xl font-extrabold dark:text-white py-8">Avaliações</h2>

	<div *ngFor="let avaliacao of avaliacoes$ | async" href="#"
		class="w-72 lg:w-2/5  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 flex flex-col">

		<div class="flex items-center  text-center space-x-1 self-center">
			<svg *ngFor="let item of [1,2,3,4,5]" class="w-4 h-4 "
				[ngClass]="item <= avaliacao.nota ? 'text-yellow-300' : 'text-gray-300' " aria-hidden="true"
				xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
				<path
					d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
			</svg>
		</div>

		<p class="font-normal text-gray-700 dark:text-gray-400 pt-2"><span class="font-semibold">Comentário:</span>
			{{avaliacao.comentario}}</p>
	</div>
</div>