<div
	class="fixed z-50 w-full h-16 max-w-xs -translate-x-1/2 bg-[#04BF8A] border border-gray-600 rounded-full bottom-4 left-1/2 dark:bg-gray-700 dark:border-gray-600">
	<div class="grid h-full max-w-lg grid-cols-4 mx-auto">
		<button (click)="navigateReviews()" data-tooltip-target="tooltip-review" type="button"
			class="inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-[#03A64A] dark:hover:bg-gray-800 group">
			<img width="30" height="30" src="https://img.icons8.com/ios/50/favorite-window.png" alt="favorite-window" />
			<span class="sr-only">Review</span>
		</button>
		<div id="tooltip-review" role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
			Review
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<button (click)="navigateNewsletter()" data-tooltip-target="tooltip-newsletter" type="button"
			class="inline-flex flex-col items-center justify-center px-5 hover:bg-[#03A64A] dark:hover:bg-gray-800 group">
			<img width="30" height="30" src="https://img.icons8.com/ios/50/email-open.png" alt="email-open" />
			<span class="sr-only"></span>
		</button>
		<div id="tooltip-newsletter" role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
			Newsletter
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<button (click)="navigateEmails()" data-tooltip-target="tooltip-mails" type="button"
			class="inline-flex flex-col items-center justify-center px-5 hover:bg-[#03A64A] dark:hover:bg-gray-800 group">
			<img width="30" height="30" src="https://img.icons8.com/ios/50/mail.png" alt="mail" />
			<span class="sr-only">Emails Enviados</span>
		</button>
		<div id="tooltip-mails" role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
			Emails Enviados
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<button (click)="navigateNotes()" data-tooltip-target="tooltip-notas" type="button"
			class="inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-[#03A64A] dark:hover:bg-gray-800 group">
			<img width="30" height="30" src="https://img.icons8.com/ios/50/apple-notes.png" alt="apple-notes" />
			<span class="sr-only">Notas</span>
		</button>
		<div id="tooltip-notas" role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
			Notas
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
	</div>
</div>