/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
}

body{
	background-color: #f0ffeb;
	background-attachment: fixed;
	background-image: url('/assets/images/feedback.svg');
	background-size: 20rem;
	background-repeat: no-repeat;
	background-position: right bottom;
}

@media (max-width: 600px) {
	body {
		background-image: url('/assets/images/feedback.svg');
		background-size: 12rem;
		background-position: center;
	}
  }